/* ! ------------------------fonts-------------------- */

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria.eot');
    src: url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria.woff') format('woff'), url('../fonts/Geometria.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


/* ! -------------------reset-styles------------------ */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}


/* ! ------------------------body-------------------- */

html,
body {
    min-width: 320px;
    height: 100%;
    font-weight: 400;
    font-style: normal;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

body.lock {
    overflow: hidden;
}

$width: 100vw;
// ?===========================!!! for all devices !!!================================
.wrapper {}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.parallax {
    position: relative;
    height: 100vh;
    &__general {
        position: fixed;
        top: 0;
        left: 0;
    }
    &__1 {
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-image: url('../img/bg__header.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__2 {
        z-index: 3;
        width: 100%;
        height: 100%;
        background-image: url('../img/First-screen3.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__question {
        position: absolute;
        z-index: 3;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 60px;
        color: #000;
        font-weight: 700;
    }
    &__title {
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        font-size: 30px;
    }
    &__background {}
}

h2 {
    margin-top: 1000px;
}

.content {
    position: relative;
    z-index: 2;
    &__body {}
    &__header {
        background-color: #fff;
    }
}